.button-clear{
    width: 200px;
    margin-top: 20px;
    top: -20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    margin-top: 15px;
}