

mat-grid-list {
    margin: 20px;
 }

  .story-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 50%;
  }


  h3{
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }

  p{
    margin: 8px;
    font-size: 1em;
  }